* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#set__init {
    display: block;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}

body {
    background: #7345fd;
}

.wrap__card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card__inner {
    width: 700px;
    height: 700px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;

}

.cards li {
    width: calc(100% / 4 - 20px);
    height: calc(100% / 4 - 20px);
    border: 1px solid #ccc;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
}

.cards li .view {
    position: absolute;
    background: rgba(0, 0, 255, 0.2);
    padding: 10%;
    transition: transform 0.5s linear;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.cards li .view.front {
    z-index: 10;

    transform: rotateY(0deg);
}

.cards li .view.back {
    transform: rotateY(180deg);
}

.cards li.flip .view.front {
    transform: rotateY(-180deg);
}

.cards li.flip .view.back {
    transform: rotateY(0deg);
}

.cards li.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }
}

span {
    cursor: pointer;
}

.number {
    margin: 100px;
}


#set__total {
    height: 40px;
    align-items: center;
    display:inline-block;
    margin-left:400px;

}

#set__boom {
    height: 40px;
    align-items: center;
    display:inline-block;

}


#set__start span, #set__init span {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ddd;
    background: #f2f2f2;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    margin-left:500px;

}

.minus,
.plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    vertical-align: middle;
    text-align: center;
}

input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}